
<% if logged_in? %>
<p>Logged in as <%= current_user.name %></p>
  <div id="names">
</div>
<script>
    $.getJSON('https://api.foursquare.com/v2/venues/search?ll=40.7,-74&query=wicked&client_id=4N23RFF1XUH1AA3AWBJFRPVR1SSMZU4FDU3PW1ADP5HTXHF4&client_secret=YHWQ322EJ2D5NMLKX5PY0432ZOZJV4W2XTK1ZUT315EJEIFD&v=20140806',
        function(data) {
            $.each(data.response.venues, function(i,venues){
                content = '<p>' + venues.name + venues.location.formattedAddress + '</p>';
                $(content).appendTo("#names");
            });
        });
</script>

<% else %>

<%= link_to "Log in via Foursquare", "/auth/foursquare" %>
<% end %>

